{% load static %}
{% load cache %}
{% load static socialaccount %}


<!DOCTYPE html>
<html lang="no">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>Bokskap Realfagsbygget</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicons/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicons/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicons/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "favicons/manifest.json" %}">
  <link rel="mask-icon" href="{% static "favicons/safari-pinned-tab.svg" %}" color="#5bbad5">

  <!-- CSS  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
        integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% block extra_css %}
  {% endblock %}

  <!-- JS -->


  {% block extra_js %}
  {% endblock %}

  <style>
    {% block style %}
    {% endblock style %}
  </style>

  {% block header %}
  {% endblock header %}
  <meta name="theme-color" content="#3C91E6">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#3C91E6">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>
<body>

 <!-- Messaging framework card -->
 <!--
      {% if messages %}
        <div class="row">
          {% for message in messages %}
            <div class="col s12 m6 l6">
              <div class="card {{ message.level_tag }}-message darken-1 message-card">
                <div class="card-content">
                  <span class="card-title black-text valign-wrapper" style="clear: both;">
                      <h5>
                        <i class="material-icons black-text"
                           style="padding-right: 10px;">priority_high</i>{{ message.extra_tags|default_if_none:"" }}
                      </h5>
                  </span>
                  <p class="flow-text black-text">{{ message }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      -->

      <!-- Main content -->
      {% block content %}

      {% endblock content %}
      <br><br>
<footer>

</footer>

{% block footer_js_files %}
{% endblock footer_js_files %}

{% block footer_script %}
{% endblock footer_script %}

</body>
</html>