{% load static %}
{% load cache %}
{% load static socialaccount %}


<!DOCTYPE html>
<html lang="no">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>Bokskap Realfagbygget</title>

  <!-- CSS  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
        integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% block extra_css %}
  {% endblock %}

  <!-- JS -->


  {% block extra_js %}
  {% endblock %}

  <style>
    {% block style %}
    {% endblock style %}
  </style>

  {% block header %}
  {% endblock header %}
  <meta name="theme-color" content="#3C91E6">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#3C91E6">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>
<body>

 <!-- Messaging framework card -->
 <!--
      {% if messages %}
        <div class="row">
          {% for message in messages %}
            <div class="col s12 m6 l6">
              <div class="card {{ message.level_tag }}-message darken-1 message-card">
                <div class="card-content">
                  <span class="card-title black-text valign-wrapper" style="clear: both;">
                      <h5>
                        <i class="material-icons black-text"
                           style="padding-right: 10px;">priority_high</i>{{ message.extra_tags|default_if_none:"" }}
                      </h5>
                  </span>
                  <p class="flow-text black-text">{{ message }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      -->

      <!-- Main content -->
      {% block content %}

      {% endblock content %}
<footer class="footer">
  <div class="container">
    <div class="row" style="padding-top: 2.5rem">
      <div class="col-sm-12 col-lg-2">
          <img src="{% static "img/hc-logo.png" %}" class="img-fluid" alt="HC" id="hc-logo">
          <img src="{% static "img/logo_ntnu.png" %}" class="img-fluid" alt="NTNU" id="ntnu-logo">
      </div>
      <div class="col-sm-12 col-lg-8">
        <hr class="footer-rule" style="height: 1.25px">
        <h2 class="footer-text">NTNU Bokskap Realfagbygget</h2>
        <p class="footer-text" style="padding-bottom: 0.7rem;">
          Denne siden er utviklet og driftet av Høiskolens Chemikerforening på vegne av Fakultet for naturvitenskap ved
          NTNU. Ved bruk av siden samtykker du til å følge bokskapsreglementet. En gang årlig på starten av
          høstsemesteret sendes det ut en e-post om fornying av bokskap.
        </p>
      </div>
    </div>
    <div class="row" style="padding-top: 2rem;">
      <div class="col-sm-12 col-md-0 col-lg-2"></div>
      <div class="col-sm-12 col-md-3 col-lg-2">
        <hr class="footer-rule">
        <p class="top-header">Ved spørsmål</p>
        <h5 class="footer-text footer-link">Kontakt</h5>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-2">
        <hr class="footer-rule">
        <p class="top-header">Om bruk</p>
        <h5 class="footer-text footer-link">Reglement</h5>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-2">
        <hr class="footer-rule">
        <p class="top-header">Linjeforeningen</p>
        <h5 class="footer-text footer-link" style="word-wrap: break-word;">Høiskolens Chemikerforening</h5>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-2">
        <hr class="footer-rule">
        <p class="top-header">NTNU</p>
        <a href="https://www.ntnu.no/nv/fakultet-for-naturvitenskap">
        <h5 class="footer-text footer-link">Fakultet for naturvitenskap</h5>
        </a>
      </div>
      <div class="col-sm-12 col-md-0 col-lg-2"></div>
    </div>
  </div>
</footer>

{% block footer_js_files %}
{% endblock footer_js_files %}

{% block footer_script %}
{% endblock footer_script %}

</body>
</html>