{% load static %}
{% load cache %}
{% load static socialaccount %}


<!DOCTYPE html>
<html lang="no">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <title>Høiskolens Chemikerforening</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicons/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicons/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicons/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "favicons/manifest.json" %}">
  <link rel="mask-icon" href="{% static "favicons/safari-pinned-tab.svg" %}" color="#5bbad5">

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/IBM-type/0.5.3/css/ibm-type.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  {% block extra_css %}
  {% endblock %}

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


  {% block extra_js %}
  {% endblock %}

  <style>
    {% block style %}
    {% endblock style %}
  </style>

  {% block header %}
  {% endblock header %}
  <meta name="theme-color" content="#3C91E6">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#3C91E6">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

</head>
<body>

<header>
  <nav class="top-nav">
    <div class="container">
      <div class="nav-wrapper">
        <div class="container"><a href="#" data-target="nav-mobile"
                                  class="top-nav sidenav-trigger full hide-on-large-only"><i
            class="material-icons">menu</i></a></div>
        <div><h2 id="heading">{% block nav_header %}{% endblock nav_header %}</h2></div>
        <div><h4 id=subheading>{% block nav_sub_header %}{% endblock nav_sub_header %}</h4></div>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">

      <!-- Messaging framework card -->
      {% if messages %}
        <div class="row">
          {% for message in messages %}
            <div class="col s12 m6 l6">
              <div class="card {{ message.level_tag }}-message darken-1 message-card">
                <div class="card-content">
                  <span class="card-title black-text valign-wrapper" style="clear: both;">
                      <h5>
                        <i class="material-icons black-text"
                           style="padding-right: 10px;">priority_high</i>{{ message.extra_tags|default_if_none:"" }}
                      </h5>
                  </span>
                  <p class="flow-text black-text">{{ message }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <!-- Main content -->
      {% block content %}
      {% endblock content %}
      <br><br>
      <br><br>
    </div>
  </div>
</main>

<footer class="page-footer">
  <div class="container">
    <div class="row">

      <!-- About -->
      <div class="col s12 m6 l4">
        <h5 class="white-text">Om oss</h5>
        <p class="grey-text text-lighten-4">
          Linjeforeningen for Industriell Kjemi og Bioteknologi ved NTNU Trondheim.
        </p>

        <a href="https://github.com/HoiskolensChemikerforening/website">
          <img src="{% static "images/github.svg" %}" alt="Github"
               style="display: inline-block;vertical-align: middle;">
          <span style="display: inline-block; margin-left: 10px;" class="white-text">Github</span>
        </a>
      </div>

      <!-- Media/Social -->
      <div class="col s12 m6 l4">
        <h5 class="white-text">Sosialt</h5>
        <div class="valign-wrapper">
          <a href="https://www.facebook.com/HoiskolensChemikerforening/?fref=ts" target="_blank">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#FFF"
                    d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z"></path>
            </svg>
          </a>
          <a href="https://www.facebook.com/HoiskolensChemikerforening/?fref=ts" target="_blank">
            <p class="left-align white-text" style="margin-left: 10px">Facebook</p>
          </a>
        </div>
        <div class="valign-wrapper">
          <a href="mailto:styret@hc.ntnu.no">
            <i class="material-icons valign left white-text">email</i>
          </a>
          <a href="mailto:styret@hc.ntnu.no">
            <p class="left-align white-text">Epost</p>
          </a>
        </div>
        <a class="white-text" href="">Kontakt oss!</a>
      </div>
    </div>
  </div>

  <!-- Copyright, credits -->
  <div class="footer-copyright">
    <div class="container">
      <a class="grey-text text-lighten-4 right" href="mailto:webkom@hc.ntnu.no">Webansvarlig: Webkom</a>
      <a href="{% provider_login_url "dataporten" %}">
                          <i class="fa fa-sign-in" aria-hidden="true"></i> Logg inn
                      </a>

    </div>
  </div>
</footer>

{% block footer_js_files %}
{% endblock footer_js_files %}

{% block footer_script %}
{% endblock footer_script %}

<script>
    $(document).ready(function () {
        $('.sidenav').sidenav();
        $('.collapsible').collapsible();
        $('.fixed-action-btn').floatingActionButton();
        $('.tabs').tabs();
    });
</script>

</body>
</html>
