{% extends "main/base.html" %}
{% load static socialaccount %}

{% block content %}

  <div class="container height-login d-flex">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-10">
        <h1>Administrasjon</h1>
        <p>
          Kontakt Webkom for å soft-resette bokskap.
          <br>
          Dette krever at alle bokskap-eiere må bekrefte at de vil beholde
          skapet.
          Etter en uke skal bokskapene gjennomgåes og lapper (advarsler) henges på uregistrerte skap.
          Etter to uker skal alle gjenværende skap tømmes.
          <br>
          Ved feil og mangler: kontakt Webkom.
        </p>
      </div>
      <div class="col-sm-12 col-md-10">
        <table class="table table-hover table-sm">
          <thead>
          <tr>
            <th scope="col">Skapnummer</th>
            <th scope="col">Eies av</th>
            <th scope="col">Tidligere eid av</th>
          </tr>
          </thead>
          <tbody>
          {% for locker in lockers %}
            <tr>

              <th scope="row"><a name="locker{{ locker.number }}"></a>
                <p>{{ locker.number }}</p>
              </th>

              <td>
                {% if locker.owner %}
                  <a href="#">
                    <span class="icon" onclick=remove_and_redirect({{ locker.number }})>✕</span>
                  </a>
                  {{ locker.owner.user }}
                  {% else %}
                  -
                {% endif %}
              </td>
              <td>
                {% with locker.indefinite_locker.all|first as ownership %}
                  {% if ownership %}
                      {{ ownership.user }}, {{ ownership.created|date:"j F Y" }}
                    <a href="mailto:{{ ownership.user.email }}"><span class="icon">✉</span></a>
                  {% endif %}
                {% endwith %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
      function remove_and_redirect(number) {
          if (confirm("Bekreft sletting av skap nr " + number)) {
              window.location = "/bokskap/administrer/slett/" + number + "/";
          } else {
          }
      }
  </script>
{% endblock content %}
