{% extends "main/base.html" %}
{% load static socialaccount %}

{% block content %}
  <div class="container height d-flex">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h1>Registrer bokskap</h1>
        <form method='POST'>{% csrf_token %}
          <p>Reglene for bruk av bokskap må bekreftes av deg før det blir reservert. <br>
            <a href="{% static 'lockers/reglement.pdf' %}"><b>Her</b></a> kan du lese reglementet.
          </p>
          {{ form }}
          <br>
          <input class="btn btn-warning" type='submit' value='Bekreft'/>

        </form>
      </div>
    </div>
  </div>
{% endblock content %}