{% extends "main/base.html" %}

{% load static %}
{% load static socialaccount %}

{% block style %}
  .collection-item {
  overflow: initial !important;
  }
{% endblock %}

{% block nav_header %}
  Bokskap
{% endblock nav_header %}

{% block nav_sub_header %}
  Oversikt
{% endblock nav_sub_header %}

{% block content %}
  {% if perms.lockers.delete_locker %}
  <!-- Flyvende moderatorknapp: -->
    <div>
      <a>
        <i>menu</i>
      </a>
      <ul>
        <li>
          <a href="{% url "lockers:administrate" %}"><i class="material-icons">edit</i></a>
          <a>Administrer</a>
        </li>
      </ul>
    </div>
  {% endif %}

  <!-- Hovedinnhold: -->

    <div class="container height d-flex">
      <div class="row d-flex align-content-center" style="margin-top: auto; margin-bottom: auto;">
        <div class="col-sm-12 col-md-6">
            <img src="{% static "img/locker.jpeg" %}" class="img-fluid" alt="Responsive image" style="padding-bottom: 1rem">
        </div>
        <div class="col-sm-12 col-md-6" style="display: block">
          <hr class="thick-rule medium-hide">
          <h1>Bokskap</h1>
          <p>
            Her kan du registrere dine bokskap og se hvilke du besitter. Logg inn for å se dine bokskap. Klikk på ett
            av de <span class="bold-black" id="free-lockers">{{ free_lockers }}</span> ledige skapene nedenfor for å reservere
            det.

            <br><br>
            Ved å reservere bokskap samtykker du til å følge <a class="bold-black" href="#">bokskapreglementet
            </a>.
          </p>
          <div class="col-sm-3 col-md-3" style="padding: 0;">
            <a class="btn btn-primary" style="width: 100%;" href="{% provider_login_url "dataporten" %}">LOGG INN</a>
          </div>
        </div>
      </div>
    </div>

<!--
  <div class="container">
    <ul>
      {% if lockers.has_previous %}
        <li><a href="{{ lockers.previous_page_number }}">Forrige</a></li>
      {% endif %}
      {% for page in lockers.paginator.page_range %}
        <li class="{% if lockers.number == page %}active{% endif %}"><a href="{{ page }}">{{ page }}</a></li>
      {% endfor %}

      {% if lockers.has_next %}
        <li><a href="{{ lockers.next_page_number }}">Neste</a></li>
      {% endif %}
    </ul>
  </div>


  <div class="row">
  <div class="col s12 m3">
    <div class="collection">
      {% for locker in lockers %}
        {% if forloop.counter0|divisibleby:5 and not forloop.first %}</div></div>
          <div class="col s12 m3">
          <div class="collection">{% endif %}
        {% if locker.is_free %}
          <a href="{{ locker.get_absolute_url }}" class="collection-item waves-effect waves-light">
            <b>{{ locker.number }}</b>
            <div class="secondary-content">
              <i class="material-icons teal-text text-lighten-2">lock_open</i>
            </div>
          </a>

        {% else %}
          <a href="#" class="collection-item disabled red-text text-lighten-2">
            <b>{{ locker.number }}</b>
            <div class="secondary-content">
              <i class="material-icons red-text text-lighten-2">lock_outline</i>
            </div>
          </a>
        {% endif %}
      {% endfor %}
      </div>
      </div>
-->

{% endblock content %}


{% block footer_js_files %}
{% endblock footer_js_files %}

{% block footer_script %}
{% endblock footer_script %}


