{% extends "main/base.html" %}

{% load static %}
{% load static socialaccount %}

{% block style %}
  .collection-item {
  overflow: initial !important;
  }
{% endblock %}

{% block content %}
  {% if perms.lockers.delete_locker %}
    <!-- Flyvende moderatorknapp: -->
    <div>
      <a>
        <i>menu</i>
      </a>
      <ul>
        <li>
          <a href="{% url "lockers:administrate" %}"><i class="material-icons">edit</i></a>
          <a>Administrer</a>
        </li>
      </ul>
    </div>
  {% endif %}

  <!-- Hovedinnhold: -->

  <div class="container">
    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-sm-2">
        <a class="btn btn-primary" style="width: 100%; margin-top: 1rem; margin-bottom: 2rem;"
           href="{% url "logout" %}">LOGG UT</a>
      </div>
    </div>
  </div>

  <div class="container height">
    <div class="row">
      <div class="col-md-2 medium-hide"></div>
      <div class="col-sm-12 col-md-7" style="display: block;">
        <hr class="thick-rule">
        <h1>Bokskap</h1>
        <h2>Registrer skap</h2>
        <p class="lead">Klikk på ett av de
          <span class="bold-black" id="free-lockers">{{ free_lockers }}</span> ledige skapene nedenfor for å reservere
          det.

          <br><br>
          Ved å reservere bokskap samtykker du til å følge <a class="bold-black" href="#">bokskapreglementet</a>.</p>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="card">
          <h3>Dine skap</h3>
          <p>
          Du besitter følgende skap
          </p>
          <hr class="thick-rule">
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="container">
    <ul>
      {% if lockers.has_previous %}
        <li><a href="{{ lockers.previous_page_number }}">Forrige</a></li>
      {% endif %}
      {% for page in lockers.paginator.page_range %}
        <li class="{% if lockers.number == page %}active{% endif %}"><a href="{{ page }}">{{ page }}</a></li>
      {% endfor %}

      {% if lockers.has_next %}
        <li><a href="{{ lockers.next_page_number }}">Neste</a></li>
      {% endif %}
    </ul>
  </div>


  <div class="row">
  <div class="col s12 m3">
    <div class="collection">
      {% for locker in lockers %}
        {% if forloop.counter0|divisibleby:5 and not forloop.first %}</div></div>
          <div class="col s12 m3">
          <div class="collection">{% endif %}
        {% if locker.is_free %}
          <a href="{{ locker.get_absolute_url }}" class="collection-item waves-effect waves-light">
            <b>{{ locker.number }}</b>
            <div class="secondary-content">
              <i class="material-icons teal-text text-lighten-2">lock_open</i>
            </div>
          </a>

        {% else %}
          <a href="#" class="collection-item disabled red-text text-lighten-2">
            <b>{{ locker.number }}</b>
            <div class="secondary-content">
              <i class="material-icons red-text text-lighten-2">lock_outline</i>
            </div>
          </a>
        {% endif %}
      {% endfor %}
      </div>
      </div>
-->

{% endblock content %}


{% block footer_js_files %}
{% endblock footer_js_files %}

{% block footer_script %}
{% endblock footer_script %}

