/* Fonts: */

@font-face {
    font-family: "Neue Haas Grotesk Display Pro 75Bd";
    src: url('../fonts/NHaasGroteskDSPro-75Bd.otf');
}

@font-face {
    font-family: "Neue Haas Grotesk Display Pro 55Rg";
    src: url('../fonts/NHaasGroteskDSPro-55Rg.otf');
}

/* Body, headers, paragraphs etc. */

body {
    background-color: #FEFEFE;
    font-family: "Neue Haas Grotesk Display Pro 55Rg", Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Neue Haas Grotesk Display Pro 75Bd", Helvetica, sans-serif;
    color: black
}

h1:after {
    background: black;
    content: '';
    display: block;
    height: 5px;
    margin-top: 14px;
    margin-bottom: 18px;
    width: 68px;
}

h1 {
    font-size: 32px;
}

p {
    font-family: "Neue Haas Grotesk Display Pro 55Rg", Helvetica, sans-serif;
    font-size: 15px;
}


#main-content {
    margin: 0 0 0 0;

}

#free-lockers {
    font-family: "Neue Haas Grotesk Display Pro 75Bd", Helvetica, sans-serif;
}

/* Overwrite classes */


/* New classes */

.height {
    height: 90vh;
}

.parenthesis-bold {
    color: black;
    font-family: "Neue Haas Grotesk Display Pro 75Bd", Helvetica, sans-serif;
}

.parenthesis-bold:hover, .parenthesis-bold:active {
    color: black;
    text-decoration: underline solid;
}

@media screen and (min-width: 768px) {
    #main-content {
        padding-top: 3rem;
    }
}

/* Hover on table row style */
.table-hover tbody tr:hover {
    color: #fff;
    background-color: black;
}